USE [master]
GO
/****** Object:  Database [ECommerceDataBase]    Script Date: 5/2/2026 10:53:48 AM ******/
CREATE DATABASE [ECommerceDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECommerceDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ECommerceDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECommerceDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ECommerceDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECommerceDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECommerceDataBase]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetUserFullName]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =====================================================================
   SECTION 5: USER-DEFINED FUNCTIONS (3 functions: 2 Scalar + 1 TVF)
   ===================================================================== */

-- ---------------------------------------------------------------------
-- Function 1 (Scalar): Get full name of a user
-- ---------------------------------------------------------------------
CREATE FUNCTION [dbo].[fn_GetUserFullName] (@User_ID INT)
RETURNS NVARCHAR(150)
AS
BEGIN
    DECLARE @FullName NVARCHAR(150);

    SELECT @FullName =
        First_Name + ' '
        + ISNULL(Middle_Name + ' ', '')
        + Last_Name
    FROM [User]
    WHERE User_ID = @User_ID;

    RETURN ISNULL(@FullName, 'User Not Found');
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetUserTotalSpending]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------------
-- Function 2 (Scalar): Get total spending of a user
-- ---------------------------------------------------------------------
CREATE FUNCTION [dbo].[fn_GetUserTotalSpending] (@User_ID INT)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @Total DECIMAL(18,2);

    SELECT @Total = SUM(Total_Amount)
    FROM [Order]
    WHERE User_ID = @User_ID
      AND [Status] <> 'Cancelled';

    RETURN ISNULL(@Total, 0);
END;
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Product_ID] [int] NOT NULL,
	[Category_ID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock_Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetProductsByCategory]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------------
-- Function 3 (Inline Table-Valued Function):
-- Get all products of a given category.
-- ---------------------------------------------------------------------
CREATE FUNCTION [dbo].[fn_GetProductsByCategory] (@Category_ID INT)
RETURNS TABLE
AS
RETURN
(
    SELECT
        p.Product_ID,
        p.[Name]         AS ProductName,
        p.Price,
        p.Stock_Quantity
    FROM Product p
    WHERE p.Category_ID = @Category_ID
);
GO
/****** Object:  Table [dbo].[Address]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[House_Number] [nvarchar](20) NULL,
	[Street] [nvarchar](100) NULL,
	[City] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[Postal_Code] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Order_Date] [datetime] NOT NULL,
	[Total_Amount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Product]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Product](
	[Order_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Order_Product] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Payment_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Payment_Date] [datetime] NOT NULL,
	[Payment_Method] [nvarchar](30) NOT NULL,
	[Payment_Amount] [decimal](18, 2) NOT NULL,
	[Payment_Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipping]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipping](
	[Tracking_Number] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Shipment_Date] [datetime] NULL,
	[Delivery_Date] [datetime] NULL,
	[Shipping_Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tracking_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Middle_Name] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone_Number] [nvarchar](11) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Registration_Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Address] ([Address_ID], [User_ID], [House_Number], [Street], [City], [Country], [Postal_Code]) VALUES (1, 1, N'12', N'Nile St', N'Cairo', N'Egypt', N'11511')
INSERT [dbo].[Address] ([Address_ID], [User_ID], [House_Number], [Street], [City], [Country], [Postal_Code]) VALUES (2, 2, N'45', N'Tahrir St', N'Cairo', N'Egypt', N'11512')
INSERT [dbo].[Address] ([Address_ID], [User_ID], [House_Number], [Street], [City], [Country], [Postal_Code]) VALUES (3, 3, N'78', N'Pyramids Rd', N'Giza', N'Egypt', N'12511')
GO
INSERT [dbo].[Category] ([Category_ID], [Name], [Description]) VALUES (1, N'Electronics', N'Phones, laptops, accessories')
INSERT [dbo].[Category] ([Category_ID], [Name], [Description]) VALUES (2, N'Clothing', N'Men and women apparel')
INSERT [dbo].[Category] ([Category_ID], [Name], [Description]) VALUES (3, N'Books', N'Educational and fiction books')
GO
INSERT [dbo].[Order] ([Order_ID], [User_ID], [Status], [Order_Date], [Total_Amount]) VALUES (1, 3, N'Delivered', CAST(N'2025-03-15T10:00:00.000' AS DateTime), CAST(45000.00 AS Decimal(18, 2)))
INSERT [dbo].[Order] ([Order_ID], [User_ID], [Status], [Order_Date], [Total_Amount]) VALUES (2, 4, N'Shipped', CAST(N'2025-03-20T11:30:00.000' AS DateTime), CAST(1550.00 AS Decimal(18, 2)))
INSERT [dbo].[Order] ([Order_ID], [User_ID], [Status], [Order_Date], [Total_Amount]) VALUES (3, 5, N'Processing', CAST(N'2025-03-25T14:00:00.000' AS DateTime), CAST(30600.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[Order_Product] ([Order_ID], [Product_ID], [Quantity]) VALUES (1, 1, 1)
INSERT [dbo].[Order_Product] ([Order_ID], [Product_ID], [Quantity]) VALUES (2, 4, 1)
INSERT [dbo].[Order_Product] ([Order_ID], [Product_ID], [Quantity]) VALUES (2, 6, 1)
GO
INSERT [dbo].[Payment] ([Payment_ID], [Order_ID], [Payment_Date], [Payment_Method], [Payment_Amount], [Payment_Status]) VALUES (1, 1, CAST(N'2025-03-15T00:00:00.000' AS DateTime), N'Credit Card', CAST(45000.00 AS Decimal(18, 2)), N'Completed')
INSERT [dbo].[Payment] ([Payment_ID], [Order_ID], [Payment_Date], [Payment_Method], [Payment_Amount], [Payment_Status]) VALUES (2, 2, CAST(N'2025-03-20T00:00:00.000' AS DateTime), N'Cash', CAST(1550.00 AS Decimal(18, 2)), N'Completed')
INSERT [dbo].[Payment] ([Payment_ID], [Order_ID], [Payment_Date], [Payment_Method], [Payment_Amount], [Payment_Status]) VALUES (3, 3, CAST(N'2025-03-25T00:00:00.000' AS DateTime), N'PayPal', CAST(30600.00 AS Decimal(18, 2)), N'Pending')
GO
INSERT [dbo].[Product] ([Product_ID], [Category_ID], [Name], [Description], [Price], [Stock_Quantity]) VALUES (1, 1, N'iPhone 15', N'Apple smartphone 128GB', CAST(45000.00 AS Decimal(18, 2)), 16)
INSERT [dbo].[Product] ([Product_ID], [Category_ID], [Name], [Description], [Price], [Stock_Quantity]) VALUES (2, 1, N'Samsung Galaxy', N'Android smartphone 256GB', CAST(30000.00 AS Decimal(18, 2)), 15)
INSERT [dbo].[Product] ([Product_ID], [Category_ID], [Name], [Description], [Price], [Stock_Quantity]) VALUES (3, 1, N'Dell Laptop', N'Core i7 16GB RAM', CAST(40000.00 AS Decimal(18, 2)), 10)
GO
INSERT [dbo].[Shipping] ([Tracking_Number], [Order_ID], [Shipment_Date], [Delivery_Date], [Shipping_Status]) VALUES (1001, 1, CAST(N'2025-03-16T00:00:00.000' AS DateTime), CAST(N'2025-03-18T00:00:00.000' AS DateTime), N'Delivered')
INSERT [dbo].[Shipping] ([Tracking_Number], [Order_ID], [Shipment_Date], [Delivery_Date], [Shipping_Status]) VALUES (1002, 2, CAST(N'2025-03-21T00:00:00.000' AS DateTime), NULL, N'Out for Delivery')
INSERT [dbo].[Shipping] ([Tracking_Number], [Order_ID], [Shipment_Date], [Delivery_Date], [Shipping_Status]) VALUES (1003, 3, CAST(N'2025-03-26T00:00:00.000' AS DateTime), NULL, N'Preparing')
GO
INSERT [dbo].[User] ([User_ID], [First_Name], [Middle_Name], [Last_Name], [Username], [Password], [Email], [Phone_Number], [Role], [Registration_Date]) VALUES (1, N'Hajar', N'Mohamed', N'Jaber', N'hajar1', N'pass123', N'hajar@gmail.com', N'01234567890', N'Admin', CAST(N'2025-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([User_ID], [First_Name], [Middle_Name], [Last_Name], [Username], [Password], [Email], [Phone_Number], [Role], [Registration_Date]) VALUES (2, N'Ahmed', N'Mohamed', N'Emara', N'ahmed2', N'pass123', N'emara@gmail.com', N'01234567891', N'Admin', CAST(N'2025-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[User] ([User_ID], [First_Name], [Middle_Name], [Last_Name], [Username], [Password], [Email], [Phone_Number], [Role], [Registration_Date]) VALUES (3, N'Yehia', N'Ahmed', N'Fathy', N'yehia3', N'pass123', N'yehia@gmail.com', N'01234567892', N'Customer', CAST(N'2025-02-01T00:00:00.000' AS DateTime))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Category__737584F603BCA89E]    Script Date: 5/2/2026 10:53:49 AM ******/
ALTER TABLE [dbo].[Category] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Payment_Order]    Script Date: 5/2/2026 10:53:49 AM ******/
ALTER TABLE [dbo].[Payment] ADD  CONSTRAINT [UQ_Payment_Order] UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Shipping_Order]    Script Date: 5/2/2026 10:53:49 AM ******/
ALTER TABLE [dbo].[Shipping] ADD  CONSTRAINT [UQ_Shipping_Order] UNIQUE NONCLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E4460E405F]    Script Date: 5/2/2026 10:53:49 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT ('Egypt') FOR [Country]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Order_Date]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Total_Amount]
GO
ALTER TABLE [dbo].[Order_Product] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [Payment_Date]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Cash') FOR [Payment_Method]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Pending') FOR [Payment_Status]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [Stock_Quantity]
GO
ALTER TABLE [dbo].[Shipping] ADD  DEFAULT ('Preparing') FOR [Shipping_Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('Customer') FOR [Role]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [Registration_Date]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD  CONSTRAINT [FK_OP_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Product] CHECK CONSTRAINT [FK_OP_Order]
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD  CONSTRAINT [FK_OP_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product] ([Product_ID])
GO
ALTER TABLE [dbo].[Order_Product] CHECK CONSTRAINT [FK_OP_Product]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category] ([Category_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([Order_ID])
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [FK_Shipping_Order]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CHK_Order_Status] CHECK  (([Status]='Cancelled' OR [Status]='Delivered' OR [Status]='Shipped' OR [Status]='Processing' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CHK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CHK_Order_Total] CHECK  (([Total_Amount]>=(0)))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CHK_Order_Total]
GO
ALTER TABLE [dbo].[Order_Product]  WITH CHECK ADD  CONSTRAINT [CHK_OP_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Order_Product] CHECK CONSTRAINT [CHK_OP_Quantity]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CHK_Pay_Amount] CHECK  (([Payment_Amount]>(0)))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CHK_Pay_Amount]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CHK_Pay_Method] CHECK  (([Payment_Method]='Bank Transfer' OR [Payment_Method]='PayPal' OR [Payment_Method]='Debit Card' OR [Payment_Method]='Credit Card' OR [Payment_Method]='Cash'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CHK_Pay_Method]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CHK_Pay_Status] CHECK  (([Payment_Status]='Refunded' OR [Payment_Status]='Failed' OR [Payment_Status]='Completed' OR [Payment_Status]='Pending'))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CHK_Pay_Status]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Product_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Product_Price]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Product_Stock] CHECK  (([Stock_Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Product_Stock]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [CHK_Ship_Dates] CHECK  (([Delivery_Date] IS NULL OR [Delivery_Date]>=[Shipment_Date]))
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [CHK_Ship_Dates]
GO
ALTER TABLE [dbo].[Shipping]  WITH CHECK ADD  CONSTRAINT [CHK_Ship_Status] CHECK  (([Shipping_Status]='Cancelled' OR [Shipping_Status]='Delivered' OR [Shipping_Status]='Out for Delivery' OR [Shipping_Status]='Preparing'))
GO
ALTER TABLE [dbo].[Shipping] CHECK CONSTRAINT [CHK_Ship_Status]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CHK_User_Email] CHECK  (([Email] like '%_@_%._%'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CHK_User_Email]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CHK_User_Phone] CHECK  (([Phone_Number] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CHK_User_Phone]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CHK_User_Role] CHECK  (([Role]='Customer' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CHK_User_Role]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProductToOrder]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------------
-- SP 2: Add a product to an order AND auto-decrement stock
-- (Inventory validation: stock must be >= requested quantity)
-- ---------------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_AddProductToOrder]
    @Order_ID    INT,
    @Product_ID  INT,
    @Quantity    INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

            -- 1) Quantity sanity check
            IF @Quantity <= 0
            BEGIN
                RAISERROR('Quantity must be greater than zero.', 16, 1);
            END

            -- 2) Inventory validation BEFORE any modification
            DECLARE @CurrentStock INT;
            SELECT @CurrentStock = Stock_Quantity
            FROM Product
            WHERE Product_ID = @Product_ID;

            IF @CurrentStock IS NULL
            BEGIN
                RAISERROR('Product does not exist.', 16, 1);
            END

            IF @CurrentStock < @Quantity
            BEGIN
                RAISERROR('Insufficient stock for the requested product.', 16, 1);
            END

            -- 3) Insert / merge into the bridge table
            IF EXISTS (SELECT 1 FROM Order_Product
                       WHERE Order_ID = @Order_ID AND Product_ID = @Product_ID)
            BEGIN
                UPDATE Order_Product
                SET Quantity = Quantity + @Quantity
                WHERE Order_ID = @Order_ID AND Product_ID = @Product_ID;
            END
            ELSE
            BEGIN
                INSERT INTO Order_Product (Order_ID, Product_ID, Quantity)
                VALUES (@Order_ID, @Product_ID, @Quantity);
            END

            -- 4) Decrement stock
            UPDATE Product
            SET Stock_Quantity = Stock_Quantity - @Quantity
            WHERE Product_ID = @Product_ID;

            -- 5) Recalculate the order total to keep header consistent
            DECLARE @NewTotal DECIMAL(18,2);
            SELECT @NewTotal = SUM(op.Quantity * p.Price)
            FROM Order_Product op
            INNER JOIN Product p ON op.Product_ID = p.Product_ID
            WHERE op.Order_ID = @Order_ID;

            UPDATE [Order]
            SET Total_Amount = ISNULL(@NewTotal, 0)
            WHERE Order_ID = @Order_ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(2000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_PlaceOrder]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =====================================================================
   SECTION 4: STORED PROCEDURES (5 procedures, ACID-compliant)
   All data-modifying SPs use BEGIN TRY / BEGIN CATCH and explicit
   BEGIN TRANSACTION / COMMIT / ROLLBACK.
   ===================================================================== */

-- ---------------------------------------------------------------------
-- SP 1: Place a new order (header only; line-items added by SP 2)
-- ---------------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_PlaceOrder]
    @Order_ID  INT,
    @User_ID   INT,
    @Status    NVARCHAR(30) = 'Pending'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

            -- Validate the user exists before creating the order
            IF NOT EXISTS (SELECT 1 FROM [User] WHERE User_ID = @User_ID)
            BEGIN
                RAISERROR('User does not exist.', 16, 1);
            END

            INSERT INTO [Order] (Order_ID, User_ID, [Status], Order_Date, Total_Amount)
            VALUES (@Order_ID, @User_ID, @Status, GETDATE(), 0);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(2000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SalesReport]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------------
-- SP 5: Sales report (per category between two dates)
-- Read-only SP: no transaction needed.
-- ---------------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_SalesReport]
    @StartDate DATETIME = NULL,
    @EndDate   DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @StartDate = ISNULL(@StartDate, DATEADD(MONTH, -1, GETDATE()));
    SET @EndDate   = ISNULL(@EndDate,   GETDATE());

    SELECT
        c.[Name]                    AS CategoryName,
        COUNT(DISTINCT o.Order_ID)  AS TotalOrders,
        SUM(op.Quantity * p.Price)  AS TotalRevenue,
        AVG(op.Quantity * p.Price)  AS AvgOrderValue
    FROM Category c
    INNER JOIN Product p        ON c.Category_ID = p.Category_ID
    INNER JOIN Order_Product op ON p.Product_ID  = op.Product_ID
    INNER JOIN [Order] o        ON op.Order_ID   = o.Order_ID
    WHERE o.Order_Date BETWEEN @StartDate AND @EndDate
      AND o.[Status] <> 'Cancelled'
    GROUP BY c.[Name]
    ORDER BY TotalRevenue DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderStatus]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------------
-- SP 4: Update order status (with validation)
-- ---------------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_UpdateOrderStatus]
    @Order_ID  INT,
    @NewStatus NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

            IF @NewStatus NOT IN ('Pending','Processing','Shipped','Delivered','Cancelled')
            BEGIN
                RAISERROR('Invalid status value.', 16, 1);
            END

            IF NOT EXISTS (SELECT 1 FROM [Order] WHERE Order_ID = @Order_ID)
            BEGIN
                RAISERROR('Order does not exist.', 16, 1);
            END

            UPDATE [Order]
            SET [Status] = @NewStatus
            WHERE Order_ID = @Order_ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(2000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateOrderTotal]    Script Date: 5/2/2026 10:53:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ---------------------------------------------------------------------
-- SP 3: Recalculate the total amount for an order
-- ---------------------------------------------------------------------
CREATE PROCEDURE [dbo].[sp_UpdateOrderTotal]
    @Order_ID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

            DECLARE @Total DECIMAL(18,2);

            SELECT @Total = SUM(op.Quantity * p.Price)
            FROM Order_Product op
            INNER JOIN Product p ON op.Product_ID = p.Product_ID
            WHERE op.Order_ID = @Order_ID;

            UPDATE [Order]
            SET Total_Amount = ISNULL(@Total, 0)
            WHERE Order_ID = @Order_ID;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(2000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
USE [master]
GO
